.App {
  text-align: center;
  background-image: radial-gradient(
    rgba(255,255,255,.1), 
    rgba(255,255,255,.4),
    rgba(255,255,255,.6), 
    rgba(255,255,255,1)
  ), url('./assets/backgroundImage.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}
